#first{
    display: flex;
    gap: 8%;

    
}
#images{
    border-radius: 100%;
    display: flex;
    margin-left: 50%;
    margin-top: -16%;
    
}
#page1{
    
    padding: 100px;
    width: 1000px;
    
    
    

    
}
#img2{
    margin-right: 30%;
    display: flex;
    margin-top: -30%;
    
    
    
}
#page2{
    margin-left: 50%;
    justify-content: center;
    border-radius: 25px;

  
}
    
    


#img3{
    margin-left: 40%;
    margin-top: -9%;
    gap: 50%;





}
#page3{
    justify-content: center;
    

    
    
    

}
#hours{
    display: flex;
    gap: 27%;
}
#words{
    display: flex;
    gap: 10%;
}
#Names{
    display: flex;
    gap: 12%;
}
#button{
    color: white;
    border-radius: 10px;
    background-color: blue;
}
#img4{
    display: flex;
    margin-top: 5%;
    border-radius: 50%;
    text-align: center;
}
h4{
    color: red;
    font-size: 30px;

}
@media all and (max-width:500px){
    body
}